# Created by .ignore support plugin (hsz.mobi)
/.my/
/.idea/
/.git/
/node_modules/
/.sass-cache/
#/.src/

/booking/scan/*
!/booking/scan/readme.txt

/upload/file/*
!/upload/file/readme.txt

/upload/images/*
!/upload/images/readme.txt

/reports/scan/*
!/reports/scan/readme.txt

/tours/doc/*
!/tours/doc/intermediate/
!/tours/doc/readme.txt

/tours/doc/intermediate/*
!/tours/doc/intermediate/readme.txt

#/img/users/*
#!/img/users/readme.txt

package-lock.json
package.json
potencial.xml
gulpfile.js
config.rb
composer.json
composer.lock