
####fromCpanel####
Options +Indexes
####fromCpanel####
RewriteEngine On
Options +FollowSymLinks
RewriteBase /
RewriteRule ^.htaccess$ - [F]

AddDefaultCharset UTF-8

<IfModule mod_expires.c>
#Header set Cache-Control "max-age=1209600"

ExpiresActive on

# устанавливаем значения кэширования по умолчанию
ExpiresDefault                          "access plus 3 week"

# cache.manifest требует доп. запросов в FF 3.6
ExpiresByType text/cache-manifest       "access plus 0 seconds"

# задаем кнкретные значения кэширования для каждого типа сайта
# значения ставим в зависмости от специфики проекта

# html 
ExpiresByType text/html                 "access plus 0 seconds"

# данные
ExpiresByType text/xml                  "access plus 0 seconds"
ExpiresByType application/xml           "access plus 0 seconds"

ExpiresByType application/json          "access plus 0 seconds"

# rss поток
ExpiresByType application/rss+xml       "access plus 1 hour"

# фавикон (переименовывать нельзя)
ExpiresByType image/vnd.microsoft.icon  "access plus 1 week"

# медиа: картинки, видео, аудио
ExpiresByType image/gif                 "access plus 2 week"
ExpiresByType image/png                 "access plus 2 week"
ExpiresByType image/jpg                 "access plus 2 week"
ExpiresByType image/jpeg                "access plus 2 week"
ExpiresByType video/ogg                 "access plus 2 week"
ExpiresByType audio/ogg                 "access plus 2 week"
ExpiresByType video/mp4                 "access plus 2 week"
ExpiresByType video/webm                "access plus 2 week"
ExpiresByType image/x-icon              "access plus 2 week"

# веб-шрифты
#ExpiresByType font/truetype             "access plus 1 month"
#ExpiresByType font/opentype             "access plus 1 month"
#ExpiresByType font/woff                 "access plus 1 month"
#ExpiresByType image/svg+xml             "access plus 1 month"
#ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
#ExpiresByType application/font-woff     "access plus 1 month"
# css и javascript
#ExpiresByType text/css                  "access plus 1 month"
#ExpiresByType application/javascript    "access plus 1 month"
#ExpiresByType text/javascript           "access plus 1 month"
#ExpiresByType application/x-javascript  "access plus 1 month"
</IfModule>

# Cache-Control Headers
#<ifModule mod_headers.c>
#month
#  <filesMatch "\.(ico|jpe?g|png|gif|swf)$">
#    Header set Cache-Control "max-age=2592000, public"
#  </filesMatch>
#week
# <filesMatch "\.(css|js)$">
#    Header set Cache-Control "max-age=604800, public"
# </filesMatch>
#day
#  <filesMatch "\.(x?html?|php)$">
#    Header set Cache-Control "max-age=43200, private, must-revalidate"
#  </filesMatch>
#</ifModule>
# END Cache-Control Headers
 
# Turn ETags Off
#<ifModule mod_headers.c>
#  Header unset ETag
#</ifModule>
#FileETag None
 
# Remove Last-Modified Header
#<ifModule mod_headers.c>
#  Header unset Last-Modified
#</ifModule>



#устранение дублей главной страницы
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
#RewriteRule ^index\.html$ https://eico.atsun.ru [R=301,L]
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
#RewriteRule ^index\.php$ https://eico.atsun.ru [R=301,L]
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /default\.asp\ HTTP/
#RewriteRule ^default\.asp$ https://eico.atsun.ru [R=301,L]
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.aspx\ HTTP/
#RewriteRule ^index\.aspx$ https://eico.atsun.ru [R=301,L]



#RewriteRule ^([A-Za-z0-9_]+)/$ info/index_view.php?url=$1 [L]

 #c http на https
 #раскомментировать на хостинге
#RewriteEngine On
#RewriteCond %{SERVER_PORT} !^443$
#RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]


#c без www на www только для главной
#RewriteCond %{HTTP_HOST} ^www.eico.atsun\.ru$ [NC]
#RewriteRule ^(.*)$ https://eico.atsun.ru/$1 [R=301,L]




RewriteCond %{ENV:HTTPS} !on
RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


RewriteCond %{HTTP_HOST} ^www.eico.atsun.ru
RewriteRule ^(.*)$ https://eico.atsun.ru [R=301,L]


#c без www на www только для главной
#RewriteCond %{HTTP_HOST} ^eico.atsun\.ru$ [NC]
#RewriteRule ^(.*)$ https://www.eico.atsun.ru/$1 [R=301,L]






DirectoryIndex new_index.php


php_flag session.use_trans_sid off
php_flag session.use_only_cookies on